services:
  dashboard-app:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./shared/data:/app/data
    # ports:
    #   - "8000:8000"
    networks:
      - app-network
    env_file:
      - .env
    environment:
      PYTHONUNBUFFERED: 1
    restart: unless-stopped
    deploy:
      replicas: 2
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health_check"]
      interval: 10s
      timeout: 5s
      retries: 3

  caddy:
    image: caddy:latest
    container_name: caddy-proxy
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
      - ./caddy/logs:/var/log/caddy
    networks:
      - app-network
    depends_on:
      - dashboard-app

  ntfy:
    image: binwiederhier/ntfy                        
    container_name: ntfy                            
    command:
      - serve                                          
    environment:
      - TZ=UTC                                        
    user: "1000:1000"                                   
    volumes:
      - ./ntfy/cache:/var/cache/ntfy               
      - ./ntfy:/etc/ntfy                          
    ports:
      - 20000
    networks:
      - app-network                                   
    healthcheck:                                      
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:20000/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s                                
        timeout: 10s                                   
        start_period: 40s                            
    restart: unless-stopped  

  # scheduler:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.scheduler
  #   env_file:
  #     - .env
  #   restart: unless-stopped
  #   depends_on:
  #     - dashboard-app
  #   networks:
  #     - app-network
  #   volumes:
  #     - ./shared/data:/app/shared/data                           
  #     - ./scheduler/logs:/app/scheduler/logs                     

volumes:
  caddy_data: {}
  caddy_config: {}

networks:
  app-network:
    driver: bridge