services:
  dashboard-app:
    build: 
      context: .
      dockerfile: Dockerfile
    networks:
      - app-network
    volumes:
      - ./data:/app/data
    ports:
      - "8000"
    env_file:
      - .env
    environment:
      PYTHONUNBUFFERED: 1
    restart: unless-stopped
    deploy:
      replicas: 2
      config:
        parallelism: 1
        delay: 10s
        failure_action: rollback

  caddy:
    image: caddy:latest
    container_name: caddy-proxy
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
      - ./caddy/logs:/var/log/caddy
    networks:
      - app-network
    depends_on:
      - dashboard-app

volumes:
  caddy_data: {}
  caddy_config: {}

networks:
  app-network:
    driver: bridge