on:
  push:
    branches: [main]

jobs:
  deploy:
    environment: dashboard
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            git clone https://github.com/kordianpawelec/dashboard.git
            git pull origin main
            docker build -t dashboard:latest .
            docker compose down
            docker compose up -d